<div id="comments-list">
    {{#comments}}
        <div class="card m-3">
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/comments}}
</div>