<div class="card m-3" id="comments-list">
  <div class="mb-3">
    <form>
      <div class="mb-3">
        <label for="new-comment-nickname" class="form-label">닉네임</label>
        <input
          type="text"
          class="form-control"
          id="new-comment-nickname"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="new-comment-body" class="form-label">댓글 본문</label>
        <textarea
          type="text"
          class="form-control"
          id="new-comment-body"
        ></textarea>
      </div>
      <!-- 숨긴 데이터 : 게시글 id -->
      <input
        type="hidden"
        id="new-comment-article-id"
        value="{{ article.id }}"
      />
      <button type="submit" id="comment-create-btn" class="btn btn-primary">
        댓글 작성
      </button>
    </form>
  </div>
</div>

<script>
  {
    // 댓글 생성 버튼 DOM 변수
    const commentCreateBtn = document.getElementById('comment-create-btn');

    // 이벤트 감지
    commentCreateBtn.addEventListener('click', clickHandler);

    // 이벤트 핸들
    function clickHandler() {
      // console.log('버튼 클릭했습니다.');
      // JSON 댓글 객체 생성 (CommentDto 포맷)
      const comment = {
        // 게시글 ID 데이터
        articleId:null,
        // 닉네임 데이터
        nickname: null,
        // 본문 데이터
        body: null
      };
      // API 통신 - 비동기 통신 fetch() API Controller 호출
    }
  }
</script>
